body {
    background-color: gray;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.userFormContainer {

}

.userFormContainer, .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
